html,body {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #faebdf;
  font-family: Arial, sans-serif;
  z-index: 0;
}

.title {
  position: absolute;
  left: 25%;
  top: 15%; 
  z-index: 2;
}
nav {
  position: fixed;
  height: auto;
  width: 100%;
  background-color: #ebd488;
  display: inline-flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
}

nav img {
  height: 20%;
  margin-left: 5%;
}

.home-button {
  position: absolute;
  background-color: #ebd488;
  outline: none;
  border: none;
  color: #b12b22;
  font-size: 100%;
  margin-left: 40%;
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s;
}
.menu-button {
  position: absolute;
  color: black;
  text-decoration: none;
  margin-left: 60%;
}
.order-button {
  position: absolute;
  padding: 2% 15%;
  background-color: #da3a19;
  color: white;
  border: 2px solid transparent;  
  cursor: pointer;
  margin-left: 72%; 
  transition: background-color 0.3s, border-color 0.3s; 
  transform: rotate(90deg)translateX(20%) scaleY(0.9);
}
.text-2{
  font-size: 2vh;
  transform: translateY(-3vh);}
@media (min-width: 426px) {
  #recipe{
    margin-top: -11%;
    transform: scale(350%) scaleX(80%);
  }
  .title{
    left: 25%;
    top: 15%;   
    }
    .text-1{
      font-size: 5vh;
      font-weight: 600;}
    .text-2{
      font-size: 3vh;
      transform: translateY(-3vh);}
  .home-button {
    font-size: 100%;
    margin-left: 75%; 
  }
  .menu-button {
    margin-left: 83%;
  }
  .order-button {
    padding: 3% 8%;
    margin-left: 82%;  
    transform: rotate(90deg) translateY(-57%) translateX(20%) scaleY(0.9);
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom:10% ;
  }  
  .star {
    width: 5%; /* Set a fixed size for the stars */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Space between stars and title */
  }
  .title-text {
    font-size: 40px; /* Adjust font size as needed */
  }
  .sigitem {
    width: 90%; /* Set a fixed size for the stars */
    height: auto; /* Maintain aspect ratio */
    margin: 0 100%; /* Space between stars and title */
  }
  .scale-text {
    font-display: inline-block;
    transform: scale(60%); /* Initial state: scaled down */
    opacity: 0; /* Hidden initially */
    transition: transform 1.3s ease, opacity 1.3s ease; /* Smooth animation */
  }
  
  .scale-text.show {
    transform: scale(150%); /* Final state: scaled up when in view */
    opacity: 1; /* Visible when in view */
  }
  
  .image-row {
    justify-content: space-between;
    display: flex;
    padding: 2%; /* Add some padding */
    margin: 20px 0;
  }
  
  .name-row {
    display: flex;
    justify-content: space-between;
    margin-top: 99%; /* Space above the image */
    padding: 0 6%; /* Add some padding */
  }
  
  .mid-row-image {
    width: 30%;
    height: auto;
    margin: 1%;
  }
  
  .left-row-image {
    width: 30%; /* Set width for the image */
    height: auto; /* Maintain aspect ratio */
    margin: 1%;
  }
  
  .right-row-image {
    width: 30%; /* Set width for the image */
    height: auto; /* Maintain aspect ratio */
    margin: 1%;
  }
  .small-text {
    font-size: 13px;
    transform: scaleY(90%) translateY(30%); /* Initial state: slightly smaller and below its normal position */
    opacity: 0; /* Hidden initially */
    font-display: inline-block;
    max-width: 150px;
    transition: transform 1s ease, opacity 1s ease; /* Smooth animation */
  }
  
  .small-text.show {
    transform: scaleY(105%) translateY(-10%); /* Final state: pops and rises into position */
    opacity: 1; /* Visible when in view */
  }
  .text-item {
    flex: 1; /* Allow the text items to grow equally */
    text-align: center; /* Center align text */
  }
  
  .left-text,
  .midle-text,
  .right-text {
    margin: 10px; /* Margin for spacing */
    font-weight: 600;
    transform: scaleX(80%);
  }
  .left-text,
  .midle-text,
  .right-text.show {
    opacity: 1;
    transform: translateX(0); /* Moves to original position */
  }
  
  
  .full-menu{
    justify-content: space-around;
    margin-top: 20px; /* Space above the image */
    padding: 0 20px; /* Add some padding */
    margin-top: 20px;
  }
  
  .Menu{
    padding: 14px 40px; /* Padding for a rectangular shape */
    border: 2px solid transparent; /* Initial transparent border */
    transform: scaleY(0.9) scaleX(0.9);
  }
}
.home-button:hover {
  background-color: #b12b22;
  color: white;
  transform: scale(1.1);
}

.order-button:hover {
  background-color: white;
  color: #b12b22;
  border-color: #da3a19;
}
.order-butt {
  position: absolute;
  padding: 4% 5%;
  background-color: #da3a19;
  top: 90%;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  z-index: 2000;
  transform: scaleY(1) scaleX(1);
}

.order-butt:hover {
  background-color: white;
  color: #b12b22;
  border-color: #da3a19;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.section video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20%;
}
.text-1{
  font-size: 3vh;
  font-weight: 600;
}

.details {
  padding: 7%;
}
#recipe{
  text-align: center;
  margin-top: -5%;
  transform: scale(200%) scaleX(80%);
  font-weight: 600;
  color: #b12b22;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  .flex-container {
    flex-direction: column;
    margin-bottom: 10%;
  }
  .image-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
  }
  .mid-row-image,.left-row-image,.right-row-image{
    scale: 210%;
  }
  .title-container{
    flex-direction: column;
  }
  .star{
    opacity: 0;
  }
}
.flex-item {
  flex: 1 1 calc(20% - 10%);
  margin: 4%;
  font-display:inline-block;
  padding: 3%;
  max-width: 100%;
  background-color: white;
  text-align: center;
}

.image {
  margin-top: 1%; /* Adjust this to position your star section */
  text-align: center;
  align-items: centers;
  background-color: white;
  padding: 1%; /* Center text below the star */
  margin: 5%;
}
.title-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the title */
  align-items: center; /* Vertically align items */
  background-color: white; /* Set background color */
  padding: 1%; /* Add some padding */
  margin: 1% 0; /* Add some margin above and below */
}
.star {
  width: 5%; /* Set a fixed size for the stars */
  height: auto; /* Maintain aspect ratio */
  margin: 0 10px; /* Space between stars and title */
  z-index: 99;
}
.title-text {
  font-size: 40px; /* Adjust font size as needed */
  color: black; /* Or whatever color you prefer */
}
.sigitem {
  width: 90%; /* Set a fixed size for the stars */
  height: auto; /* Maintain aspect ratio */
  margin: 0 100%; /* Space between stars and title */
  z-index: 99;
}
.scale-text {
  font-weight: bold;
  transform: scale(60%); /* Initial state: scaled down */
  opacity: 0; /* Hidden initially */
  display: inline-block;
  transition: transform 1.3s ease, opacity 1.3s ease; /* Smooth animation */
}

.scale-text.show {
  transform: scale(130%); /* Final state: scaled up when in view */
  opacity: 1; /* Visible when in view */
}

.image-row {
  justify-content: space-between;
  display: flex;
  background-color: white; /* Set background color */
  padding: 2%; /* Add some padding */
  margin: 20px 0;
}
.mid-row-image {
  width: 30%; /* Set width for the image */
  height: auto;
  margin: 1%; /* Maintain aspect ratio */
}

.left-row-image {
  width: 30%; /* Set width for the image */
  height: auto; /* Maintain aspect ratio */
  margin: 1%;
}

.right-row-image {
  width: 30%; /* Set width for the image */
  height: auto; /* Maintain aspect ratio */
  margin: 1%;
}
.small-text {
  font-size: 13px;
  transform: scaleY(90%) translateY(30%); /* Initial state: slightly smaller and below its normal position */
  opacity: 0; /* Hidden initially */
  color: gray;
  display: inline-block;
  max-width: 150px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: transform 1s ease, opacity 1s ease; /* Smooth animation */
}

.small-text.show {
  transform: scaleY(105%) translateY(-10%); /* Final state: pops and rises into position */
  opacity: 1; /* Visible when in view */
}
.text-item {
  font-display:inline-block;
  flex: 1; /* Allow the text items to grow equally */
  text-align: center; /* Center align text */
}

.left-text,
.midle-text,
.right-text {
  font-display:inline-block;
  font-size: 18px; /* Adjust font size as needed */
  color: black; /* Or whatever color you prefer */
  margin: 10px; /* Margin for spacing */
  font-weight: 600;
  transform: scaleX(80%);
}
.left-text,
.midle-text,
.right-text.show {
  opacity: 1;
  transform: translateX(0); /* Moves to original position */
}


.full-menu{
  background-color: white; /* Set background color */
  padding: 0 20px; /* Add some padding */
  margin-top: 20px;
}
@media (max-width: 426px) {
  .full-menu{
    margin-top: 10%;
    background-color: white; /* Set background color */
    padding: 10% 10%; /* Add some padding */
  }
}

.Menu{
  padding: 14px 40px; /* Padding for a rectangular shape */
  background-color: #da3a19; /* Red background color */
  color: white; /* Text color */
  border: 2px solid transparent; /* Initial transparent border */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
  z-index: 2000; /* Ensure it's on top */
  transform: scaleY(0.9) scaleX(0.9);
}

.Menu:hover{
  background-color: white;
  color: #b12b22;
  border-color: #da3a19;
}